.panel-gradient {
  box-shadow: none;
}

.corner-gradient {
  background-color: transparent;
  -panel-corner-radius: 0;
}

.panel-maximized-gradient {
  box-shadow: none;
}

.corner-maximized-gradient {
  background-color: transparent;
  -panel-corner-radius: 0;
}
